{% extends 'layout.twig' %}

{% block content %}
<div class="row">

        <div class="col-sm-8">

            <h1>A company with the strongest desire of serving you anywhere </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Deleniti nostrum vitae repellat voluptate corporis, quod sed 
                 illo expedita, distinctio reprehenderit voluptates ut nam, 
                 reiciendis fugiat temporibus vero cumque quia dolores.
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Deleniti nostrum vitae repellat voluptate corporis, quod sed 
                 illo expedita, distinctio reprehenderit voluptates ut nam, 
                 reiciendis fugiat temporibus vero cumque quia dolores
            </p>
        </div>

        <div class="col-sm-4">
            <figure>
                <img src="{{'bootstrap/img/php.jpeg'}}" alt="Alpha Inc." class="pure-img">
                <figcaption>Alpah Inc. Head Quaters in Silicon Valley</figcaption>
            </figure>
        </div>
</div>



{% endblock %}