<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ page.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        {# Google fonts:Open Sans #}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <link href="bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="public/style.css" type="text/css" rel="stylesheet"/>
    <script src="components/jquery/jquery.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>

    
    </head>
    <body id="bg">

        <div class="container-fluid">
            {% include 'partials/nav.twig' %}
            {% block content %} {% endblock %}
            {% include 'partials/footer.twig' %}
        </div>

    </body>
</html>